/*Gris Oscuro Títulos : #424242
Gris Claro fecha: #5f6368
Gris Texto : #414549
Azul : #4285f4*/

$color_a:#424242;/*Gris Oscuro Títulos*/
$color_b:#5f6368;/*Gris claro fecha*/
$color_c:#414549;/*Gris texto*/
$color_d:#4285f4;/*azul*/

$color_e:#B9140A;/*Rojo Oscuro Títulos*/
$color_f:#FA291C;/*Rojo claro fecha*/
$color_g:#4363B2;/*azul claro texto*/
$color_h:#3ABB11;/*verde*/

$color_i:#E5E5E5;/*gris claro background*/
$color_j:#fff;/*blanco background*/
$color_k:#FDF202;/*amarillo background*/

$font_family_a: 'Open Sans', sans-serif;
$font_family_b: 'Amaranth', sans-serif;